.photoCat{
    width: 100%;
    height: auto;
}

.catLi{
    width: 20%;
    height: 300px;
}

.photoCat{
    height: 300px;
}

.catList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin: 20px 0;
    padding: 10px;
}